NET "led[0]" LOC = U16;
NET "led[1]" LOC = V16;
NET "led[2]" LOC = U15;
NET "led[3]" LOC = V15;
NET "led[4]" LOC = M11;
NET "led[5]" LOC = N11;
NET "led[6]" LOC = R11;
NET "led[7]" LOC = T11;
NET "SW[0]" LOC = T10;
NET "SW[1]" LOC = T9;
NET "clk" LOC = D9;
NET "rst" LOC = C9;
