//! **************************************************************************
// Written by: Map P.68d on Wed Nov 18 18:37:19 2015
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "T5" LEVEL 1;
COMP "B" LOCATE = SITE "V8" LEVEL 1;
COMP "C" LOCATE = SITE "U8" LEVEL 1;
COMP "D" LOCATE = SITE "N8" LEVEL 1;
COMP "E" LOCATE = SITE "M8" LEVEL 1;
COMP "F" LOCATE = SITE "T11" LEVEL 1;
SCHEMATIC END;

