NET "PRE"	CLOCK_DEDICATED_ROUTE = FALSE;
NET "PRE"	LOC="T5";
NET "CLR"	CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLR"	LOC="V8";
NET "CLK"	CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK"	LOC="T10";
NET "D"		LOC="U8";
NET "Q"		LOC="T11";
NET "Qn"		LOC="R11";