//! **************************************************************************
// Written by: Map P.68d on Wed Nov 25 19:36:18 2015
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "A<1>" LOCATE = SITE "T5" LEVEL 1;
COMP "EN" LOCATE = SITE "C9" LEVEL 1;
COMP "B<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "B<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "C<0>" LOCATE = SITE "V9" LEVEL 1;
COMP "C<1>" LOCATE = SITE "M8" LEVEL 1;
COMP "D<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "D<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "S<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "S<1>" LOCATE = SITE "B8" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "R11" LEVEL 1;
COMP "Y<1>" LOCATE = SITE "T11" LEVEL 1;
SCHEMATIC END;

