NET "J"		CLOCK_DEDICATED_ROUTE = FALSE;
NET "J"		LOC="T5";
NET "K"		CLOCK_DEDICATED_ROUTE = FALSE;
NET "K"		LOC="V8";
NET "CLK"	CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK"	LOC="T10";
NET "Q"		LOC="T11";
NET "Qn"		LOC="R11"; 